#SponsorPage {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.LeftContent,
.RightContent {
    font-size: 1.5rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LeftContentSubclass {
    width: 75%;
}

p {
    width: 75%;
}

.SponsorsTitle {
    margin: 20px 0;
    padding: 0;
}