.NavItems {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: calc((100% - 20vh) * 0.9);
    align-items: center;
    justify-content: right;
}

@media screen and (max-width: 700px) {
    .NavItems {
        display: none !important;
    }
}