.Footer {
    width: 100vw;
    height: 15vh;
    background: var(--bg-color-secondary);
    color: gray;
}

.FooterMain {
    height: calc(100% - 25px);
    color: inherit;
}

.FooterBottom {
    height: 25px;
    color: inherit;
    padding: 0 10px;
    display: flex;
    justify-content: right;
}