:root{
  --bg-color-primary: rgb(35, 41, 70);
  --bg-color-secondary: rgb(0, 0, 0);
  --highlight-color: rgb(177, 177, 177);
  --solar-yellow-color: rgb(247,220,32);
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Remove scrollbar Chrome, Sarfari, Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Remove scrollbar IE, Edge, Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
